<h1>Thank you! We're looking forward to host you! xoxo </h1>

<p>Reservations#show</p>
<p>Find me in app/views/reservations/show.html.erb</p>


Congratulation! You can now visit <%= @listing.title %> and stay there from <%= @booking.start_date %> to <%= @booking.end_date %>.
